p{
	margin-left: 100px;
	margin-right: 100px;
}

.slider{
	top: 200px;
	
	position: absolute;
	left: 0px;
	height: 30px;
	line-height: 30px;
	
	width: 0px;
	overflow: hidden;
	
	padding-left: 15px;
	background-color: grey;
	
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	
	-webkit-transition: width 1.0s, background-color 5.5s;
	-webkit-transition-timing-function: linear;
}

.slider:hover{
	width: 90px;
	background-color: rgb(255,0,255)
}