
#table_style{
	border: 1px soild black;
	border-collapse:collapse;
	background-color: bisque;
	}
#table_style th{
	border: 1px solid black;
	padding: 10px;
	color: darkviolet;
}
#table_style td{
	border: 1px solid black;
	padding: 10px;
}

#ul_1{
	list-style-position: inside;
	list-style-type: circle;
}
#ul_2{
	list-style-position: outside;
	 list-style-type: square;
}
#0l_1{
	list-style-position: inside;
	list-style-type: lower-roman;
}
#ol_2{
	list-style-position: outside;
	list-style-type: lower-alpha;
}

	
